 <div class="container configurable-fluid">
     <div class="row">
         <div class="col-xs-12">
             <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
             <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                 <a class="navbar-brand" href="/home"> <!--img src="../img/logo{{getLocale}}.png" -->
                     Calipso
                 </a>
                 <div class="pull-sm-right">
	                 <ul class="nav navbar-nav">
	                     {{#ifUserInRole "ROLE_ADMIN"}}
	                     <li class="nav-item dropdown">
	                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	                        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
	                        {{labels.tmpl.header.settings}} <!--span class="caret"></span-->
	                     </a>
	                     <div class="dropdown-menu" aria-labelledby="Preview">
	                            <a class="dropdown-item triggerCollapseMenu" href="/useCases/users"><i class="fa fa-users fa-fw"></i>&#160;{{labels.tmpl.header.users}}</a>
	                            <a class="dropdown-item triggerCollapseMenu" href="/useCases/roles"><i class="fa fa-unlock-alt fa-fw"></i>&#160;{{labels.tmpl.header.roles}}</a>
	                            <a class="dropdown-item triggerCollapseMenu" href="/useCases/hosts"><i class="fa fa-shopping-cart fa-fw"></i>&#160;{{labels.tmpl.header.hosts}}</a>
	                        </div>
	                     </li> {{/ifUserInRole}}
	                     <!-- /site settings menu -->
	                     <!-- notifications menu -->
	                     {{#ifLoggedIn}}
	                     <li class="nav-item dropdown"
	                         id="calipsoHeaderView-notificationsRegion"></li> {{/ifLoggedIn}}
	                     <!-- /notifications menu -->
	                     <!-- auth menu -->
	                     {{#ifLoggedIn}}
	                     <li class="nav-item dropdown">
	                         <a
	                             class="nav-link dropdown-toggle" role="button"
	                             id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
	                             aria-expanded="false"> <i class="fa fa-user fa-fw"></i> {{firstName}} {{lastName}} <!--span class="caret"></span-->
	                         </a>
	                         <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
	                             <a class="dropdown-item triggerCollapseMenu" href="/myProfile"><i class="fa fa-user fa-fw"></i>&#160;{{labels.tmpl.header.profile}}</a>
	                             <a class="dropdown-item triggerCollapseMenu" href="/changePassword"><i class="fa fa-gear fa-fw"></i>&#160;{{labels.tmpl.header.password}}</a>
	                             <a class="dropdown-item triggerCollapseMenu" href="/logout"><i class="fa fa-sign-out fa-fw"></i>&#160;{{labels.tmpl.header.logout}}</a>
	                         </div>
	                        </li>
	                        {{/ifLoggedIn}}
	                        {{#ifLoggedOut}}
	                        <li class="nav-item">
	                            <a href="/useCases/userDetails/login" class="nav-link login">
	                                <i class="fa fa-sign-in fa-fw"></i> {{labels.tmpl.header.login}}
	                            </a>
	                        </li>
	                        <li class="nav-item">
	                            <a href="/register" class="nav-link register">
	                                <i class="fa fa-user-plus fa-fw"></i> {{labels.tmpl.header.register}}
	                            </a>
	                        </li>
	                        {{/ifLoggedOut}}
	                     <!-- /auth menu -->
	                 </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>