<div class="tmpl-hint">start login.hbs</div>
<div class="tmpl-hint">start md-formpanel-view</div>
<div class="panel panel-default">
  <div class="card-header">
      {{#if useCase.title}}
        {{ useCase.title}}
      {{else}}
        {{{ useCase.titleHtml}}}
      {{/if}}
  </div>
  <div class="card-block">
    {{#if useCase.description}}
      <p>{{ useCase.description}}</p>
    {{else}}
      {{{ useCase.descriptionHtml}}}
    {{/if}}
    <div class="generic-form-view">
    </div>
<!-- 		<span class="pull-right"> -->
<!-- 			<small>Need an account?</small> -->
<!-- 			<a href="/register" class="btn btn-success" class="register" -->
<!-- 						title="Click to register">Register</a> -->
<!-- 			<small>or sign-in with</small> -->
<!-- 				<div class="btn-group" role="group"> -->
<!-- 						<a class="btn btn-default btn-social-login btn-social-login-facebook"> -->
<!-- 								<i class="fa fa-facebook-f"></i>< -->
<!-- 						</a> -->
<!-- 						<a class="btn btn-default btn-social-login btn-social-login-linkedin"> -->
<!-- 								<i class="fa fa-linkedin"></i> -->
<!-- 						</a> -->
<!-- 						<a class="btn btn-default btn-social-login btn-social-login-google"> -->
<!-- 								<i class="fa fa-google-plus"></i>&#160;google+ -->
<!-- 						</a> -->
<!-- 				</div> -->
<!-- 		</span> -->
  </div>
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-info btn-social-login btn-social-login-facebook">
	    <h4 class="list-group-item-heading">
				<i class="fa fa-facebook-f"></i> Sign-in with <strong>Facebook</strong>
			</h4>
	  </a>
	  <a href="#" class="list-group-item list-group-item-danger btn-social-login btn-social-login-linkedin">
	    <h4 class="list-group-item-heading">
				<i class="fa fa-linkedin"></i> Sign-in with <strong>Linkedin</strong>
			</h4>
	  </a>
	  <a href="#" class="list-group-item btn-social-login btn-social-login-google">
	    <h4 class="list-group-item-heading">
				<i class="fa fa-google-plus"></i> Sign-in with <strong>Google+</strong>
			</h4>
	  </a>
	</div>
</div>
<div class="tmpl-hint">end login-view</div>
