<div class="tmpl-hint">start md-formpanel-view</div>
<div class="panel panel-default">
  <div class="card-header">
      {{#if useCase.title}}
        {{ useCase.title}}
      {{else}}
        {{{ useCase.titleHtml}}}
      {{/if}}
  </div>
  <div class="card-block">
    {{#if useCase.description}}
      <p>{{ useCase.description}}</p>
    {{else}}
      {{{ useCase.descriptionHtml}}}
    {{/if}}
    <div class="generic-form-view">
    </div>

    <br class="clear" />
  </div>
</div>
<div class="tmpl-hint">end md-formpanel-view</div>
