<div class="control-group">

<p>
  <input class="userName" type="text" placeholder="User Name" value="{{userName}}" /> <!--  -->
  <input class="userPassword" type="text" placeholder="Password" value="{{userPassword}}" />
</p>
<p>
  <input class="email" type="text" placeholder="Email" value="{{email}}" />  
</p>
<p>
  <input class="firstName" type="text" placeholder="First Name" value="{{firstName}}" />
  <input class="lastName" type="text" placeholder="Last Name" value="{{lastName}}" />
</p>

</div>

<input type="submit" class="btn btn-success" value="Save" />
