<div class="tmpl-hint">start UserInvitationResults.hbs</div>
<div class="card">
  <div class="card-header">
		<i class="fa fa-user-plus"></i>
		{{labels.useCases.invitations.titleResult}}

  </div>
  <div class="card-block">
    <p class="card-text">
			<strong>{{labels.useCases.invitations.invited}}</strong>
		</p>
		<ul class="list">
		  {{#each invited}}
		    <li>{{this}}</li>
			{{else}}
			  <li>{{labels.calipso.grid.emptyText}}</li>
		  {{/each}}
		</ul>
    <p class="card-text">
			<strong>{{labels.useCases.invitations.duplicate}}</strong>
		</p>
		<ul class="list">
		  {{#each duplicate}}
		    <li>{{this}}</li>
			{{else}}
			  <li>{{labels.calipso.grid.emptyText}}</li>
		  {{/each}}
		</ul>
    <p class="card-text">
			<strong>{{labels.useCases.invitations.existing}}</strong>
		</p>
		<ul class="list">
		  {{#each existing}}
		    <li>{{this}}</li>
			{{else}}
			  <li>{{labels.calipso.grid.emptyText}}</li>
		  {{/each}}
		</ul>
    <p class="card-text">
			<strong>{{labels.useCases.invitations.invalid}}</strong>
		</p>
		<ul class="list">
		  {{#each invalid}}
		    <li>{{this}}</li>
			{{else}}
			  <li>{{labels.calipso.grid.emptyText}}</li>
		  {{/each}}
		</ul>
  </div>
</div>
<div class="tmpl-hint">end UserInvitationResults.hbs</div>
