<div class="tmpl-hint">start userProfile.hbs</div>
<div class="container">
	<div class="row">
	    <div class="col-md-12">
	        <div class="well well-sm">
	            <h4>
	                <img src="http://www.gravatar.com/avatar/{{ emailHash }}?s=40&amp;d=404"
	                    class="img-circle"> {{ name }} <small> <a
	                    href="mailto://{{ email }}"> {{ email }} </a>
	                </small>
	            </h4>
	        </div>
	        <div class="panel panel-default">
	            <!-- Default panel contents -->
	            <div class="card-header">Contact Details</div>
	            <!--div class="card-block">
	            </div-->
	            <div class="list-group">
	                {{#if email}} <a class="list-group-item" href="mailto://{{ email }}"><span
	                    class="glyphicon glyphicon-envelope"></span> {{ email }}</a> {{/if}}
	                {{#if cellphone}} <a class="list-group-item"
	                    href="tel:{{ cellphone }}"><span
	                    class="glyphicon glyphicon-phone"></span> {{ cellphone }}</a> {{/if}}
	                {{#if telephone}} <a class="list-group-item"
	                    href="tel:{{ cellphone }}"><span
	                    class="glyphicon glyphicon-phone-alt"></span> {{ telephone }}</a>
	                {{/if}} {{#if address}}
	                <address class="list-group-item">
	                    <span class="glyphicon glyphicon glyphicon-inbox"></span>
	                    {{address}} {{postCode}} {{country.name}}
	                </address>
	                {{/if}}
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-12">
	        <div class="panel panel-default">
	            <!-- Default panel contents -->
	            <div class="card-header">Account Information</div>
	            <!--div class="card-block">
	            </div-->
	            <table class="table">
	                <tr>
	                    <th>Active</th>
	                    <td>{{#if active}} <span class="text-success"><i
	                            class="fa fa-check"></i></span> {{else}} <span class="text-danger"><i
	                            class="fa fa-close"></i></span> {{/if}}
	                    </td>
	                </tr>
	                <tr>
	                    <th>Account Created</th>
	                    <td>{{momentFromNow createdDate}}: {{momentDateTime createdDate}}</td>
	                </tr>
	                <tr>
	                    <th>Last Visit</th>
	                    <td>{{momentFromNow lastVisit}}: {{momentDateTime lastVisit}}</td>
	                </tr>
	                <tr>
	                    <th>Locale</th>
	                    <td>{{locale}}</td>
	                </tr>
	                <tr>
	                    <th>Password</th>
	                    <td><a class="btn btn-danger btn-xs" href="/changePassword">Change
	                            Password</a> {{#if lastPassWordChangeDate}}Last updated
	                        {{momentFromNow lastPassWordChangeDate}}{{/if}}</td>
	                </tr>
	            </table>
	        </div>
	    </div>
	</div>
</div>
<div class="tmpl-hint">end userProfile.hbs</div>
