<div class="tmpl-hint">start UserInvitationResults.hbs</div>
<div class="card">
    <div class="card-header">
        <i class="fa fa-user-plus"></i>
        {{labels.useCases.invitations.titleResult}}
    
    </div>
    <div class="card-block">
        <h3>{{labels.useCases.invitations.invited}}</h3>
    </div>
    <ul class="list-group">
      {{#each invited}}
        <li class="list-group-item">{{this}}</li>
        {{else}}
          <li class="list-group-item">{{labels.calipso.words.none}}</li>
      {{/each}}
    </ul>
    <div class="card-block">
        <h3>{{labels.useCases.invitations.duplicate}}</h3>
    </div>
    <ul class="list-group">
      {{#each duplicate}}
        <li class="list-group-item">{{this}}</li>
        {{else}}
          <li class="list-group-item">{{labels.calipso.words.none}}</li>
      {{/each}}
    </ul>
    <div class="card-block">
        <h3>{{labels.useCases.invitations.existing}}</h3>
    </div>
    <ul class="list-group">
      {{#each existing}}
        <li class="list-group-item">{{this}}</li>
        {{else}}
          <li class="list-group-item">{{labels.calipso.words.none}}</li>
      {{/each}}
    </ul>
    <div class="card-block">
        <h3>{{labels.useCases.invitations.invalid}}</h3>
    </div>
    <ul class="list-group">
      {{#each invalid}}
        <li class="list-group-item">{{this}}</li>
        {{else}}
          <li class="list-group-item">{{labels.calipso.words.none}}</li>
      {{/each}}
    </ul>
</div>
<div class="tmpl-hint">end UserInvitationResults.hbs</div>
