<div class="user">

{{#if model.userName}}
  <h4>Edit User</h4>
{{else}}
  <h4>Create User</h4>
{{/if}} 


<div class="control-group">

<div class="form-row">
<div class="form-cell">
 <label for="userName">User Name</label>

{{#if model.userName}}
  {{model.userName}}
{{else}}
  <input id="userName" placeholder="User Name" type="text"  value="{{model.userName}}" />
{{/if}} 

</div>

<div class="form-cell">
<label for="userPassword">Password</label>
  <input id="userPassword" type="password" placeholder="Password" value="{{model.userPassword}}" />
</div>
</div>

<div class="form-row">
<div class="form-cell">
<label for="firstName">First Name</label>
  <input id="firstName" type="text" placeholder="First Name" value="{{model.firstName}}" />
</div>
  
  <div class="form-cell">
  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" placeholder="Last Name" value="{{model.lastName}}" />
</div>
</div>

<div class="form-row">
<div class="form-cell">
<label for="email">Email</label>
  <input id="email" type="text" placeholder="Email" value="{{model.email}}" />  
</div>
</div>

</div>

<input type="submit" class="btn btn-success" value="Save" />
</div>
